body{
    background-color: rgb(175, 209, 97);
}
.titolo{
    text-align: center;
    margin-top: 30px;
    color: rgb(103, 2, 112);
    font-size: larger;
}
#contenitore-gioco{
    background-color:rgb(143, 201, 235);
    text-align: center;
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 15%;
    height: 300px;
    border-bottom: 20px solid rgb(148, 97, 3);
    position: relative;
    border-radius: 8px;
}
.punteggio{
    text-align: left;
}
.gameover{
    width: 450px;
    height: 200px;
    position: absolute;
    top: 20%;
    left: 15%;
    justify-content: center;
    align-items: center;
    display: flex; 
}
.h1G{
    color: red;
    font-size: 70px;
    display: none;
}
.dino{
    background-image: url(dino.png);
    background-size: 100% 100%;
    background-position: bottom center;
    position: absolute;
    height: 20%;
    width: 7%;
    bottom: 0;
    left: 10%;
}
.cactus1{
    background-image: url(cactus1.png);
    background-size: 100% 100%;
    background-position: bottom center;
    position: absolute;
    height: 18%;
    width: 4%;
    bottom: 0;
    right: 10%;
    display: none;
}
.cactus2{
    background-image: url(cactus2.png);
    background-size: 100% 100%;
    background-position: bottom center;
    position: absolute;
    height: 18%;
    width: 7%;
    bottom: 0;
    right: 10%;
    display: none;
}
.cactus3{
    background-image: url(cactus3.png);
    background-size: 100% 100%;
    background-position: bottom center;
    position: absolute;
    height: 18%;
    width: 10%;
    bottom: 0;
    right: 10%;
    display: none;
}
.button{
    
    text-align: center;
    margin: 30px 0px 30px 0px;
}
.buttonGame{
    width: 150px;
    height: 50px;
    background-color: rgb(165, 93, 233);
    border: none;
    border-radius: 10px;
}
.riprova{
    width: 120px;
    height: 30px;
    background-color: rgb(161, 135, 231);
    border: none;
    border-radius: 10px;
}
.rigioca{
    text-align: center;
    margin: 30px 0px 30px 0px;
}